

<launch>
  <arg name="debug" default = "false"/>
  <arg name="omni_rate" default="1000"/>
  <arg name="config" default="$(find ur_to_touch_haptic_teleoperation)/config/servo_config.yaml"/>
  
  <include file="$(find omni_common)/launch/omni_state.launch">
    <arg name="units" value="m"/>
    <arg name="publish_rate" value="$(arg omni_rate)"/>
  </include>


  <node name="ur_to_touch_haptic_teleoperation_teleop_node" pkg="ur_to_touch_haptic_teleoperation" type="ur_to_touch_haptic_teleoperation_teleop_node" output="screen" />
 
</launch>
